.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header{
    height: 10.5vh;
    width: 100vw;
    background-color: #AB2A19;
    display: flex;
    align-items: center;
    font-family: sans-serif;
}

.header > h1{
    font-size: 30px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.header_nav{
width: 270px;   
font-size: 18px;
display: flex;
justify-content: space-between;
margin-left: 75px;
}

.link{
    text-decoration: none;
    padding: 10px 12px;
    color: #000000;
    background-color: #ED6B5A;
    border-radius: 5px;
    font-weight: bold;
}

.icon{
    width: 50px;
    height: 50px;
    margin-left: 75px;
    margin-right: 25px;
}

.dashboard{
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product{
    width: 600px;
    padding: 15px;
    background-color: #d34735;
    border-radius: 7px;
    display: flex;
    margin: 10px;
}

.product-img{
    width: 320px;
    height: 200px;
}

.product-info{
    height: 50px;
    font-size: 24px;
    font-family: sans-serif;
    margin-left: 350px;
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
}

.product-control{
    width: 240px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
}

.product-button{
    font-size:16px;
    font-family: sans-serif;
    background: none;
    background-color: #3ad886;
    padding: 10px;
    border-radius: 7px;
    outline: none;
    border: none;
    font-weight: 700;
}

.image-preview{
    width: 320px;
    height: 200px;
    display: flex;
    align-self: center;
    margin-bottom: 50px;
}

.form{
    height: 580px;
    width:510px;
    padding: 15px;
    border-radius: 7px;
    background-color: #3ad886;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: flex-end;
    margin-top: 60px;
}

.form-info > input {
    width: 100%;
    padding: 2px;
    margin: 7px 0;
    font-family: sans-serif;
    font-weight: bold;

}

.form-info > p {
    width: 420px;
    height:20px;
    margin: 7px 0;
    font-size: 20px;
    font-family: sans-serif;

}

.form-buttons{
    width: 100%;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
}

.form-button{
    font-size:16px;
    font-family: sans-serif;
    background: none;
    background-color: #ED6B5A;
    padding: 10px;
    margin: 5px 10px;
    border-radius: 7px;
    outline: none;
    border: none;
    font-weight: 700;
}